@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");


body {
    background-color: rgb(45, 130, 183);
    margin: 0; 
}


.nav-bar {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.116);
    font-family: 'Quicksand', sans-serif;
    z-index: 1000; 
    box-sizing: border-box;
    height: 50px; 
}


.nav-bar a {
    color: white;
    text-decoration: none;
}

.nav-bar a:hover {
    color: black;
}

.genres {
    display: flex;
    justify-content: left;
    gap: 40px;
}

main {
    margin-top: 70px; 
    padding: 20px;
    font-family: 'Quicksand', sans-serif;
}

h2{
    color: white;
    font-family: quicksand;
    padding: 20px;
}












footer {
    display: flex;
    gap: 30px;
    padding: 20px;
    background-color: rgba(252, 245, 199, 0.371);
    position: relative; 
    font-family: quicksand;
    
    .img-footer{ 
    width: 50px;
    height: 30px;
}

.img-footer:hover{
    width: 55px;
    height: 35px;
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.112);
}

}



.product-details{
    display: flex;
    flex-direction: column;
    
    width: 50%;
}