@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

body {
  margin: 0;
  background-image: url(../media/fondo3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding: 20px;
}



footer {
  display: flex;
  gap: 30px;
  padding: 20px;
  background-color: rgba(252, 245, 199, 0.371);
  position: relative; /* Puedes usar 'relative' o 'static' */
  font-family: quicksand;
  
 .img-footer{ 
  width: 50px;
  height: 30px;
 }

 .img-footer:hover{
  width: 55px;
  height: 35px;
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.112);
 }

 
 
}



.container {
  display: flex;
  justify-content: center;
}

.nav-bar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.116);
  font-family: quicksand;
}

.genres {
  display: flex;
  justify-content: left;
  gap: 40px;
}

.nav-bar a {
  color: white;
  text-decoration: none;
}

.nav-bar a:hover{
  color: black;
  
}

.gradient-text {
  font-family: quicksand;
  font-size: 50px;
  display: inline-block;
  background: linear-gradient(to right, rgb(45, 130, 183), rgb(130, 48, 56));
  -webkit-background-clip: text;
  color: transparent;
  border: 1px;
}
